<header class="full-width header-fixed-top bg-header">
  <div class="container main-header">
    <div class="row">
      <div class="col-12">
        <div class="pull-left">
          <div class="main-header__logo">
            <h1 title="Jualo.com Teman Jual Belimu">
              <%= link_to root_path do %>
              <%= image_tag ("https://www.jualo.com/assets/milan_version/header-logo-white-6a883b85e00ccc9adbb5b25e7ab01687b84414e86ec94c6740e0c7501e8f38e9.png") %>
              <% end %>
            </h1>
          </div>
        </div>
        <div class="pull-right">
          <div class="main-header__location">
            <%= content_tag(:span, "", class: "icon icon_lokasi") %>
            <%= content_tag(:span, "", class: "icon-dropdown icon_dropdown-white") %>
          </div>

          <div class="main-header__search">
            <%= search_form_for @search, class: "search" do |f| %>      
              <%= content_tag(:span, class: "twitter-typeahead", style: "position: relative; display: inline-block;") do %>
                <%= f.search_field :name_cont,
                  class: "js-searchbox tt-input",
                  autocomplete: "off",
                  placeholder: "search for ads",
                  type: "text", 
                  spellcheck: "false",
                  dir: "auto",
                  style: "position: relative; vertical-align: top;"
                %> 
                <pre aria-hidden="true"
                  style="position: absolute; visibility: hidden; white-space: pre; font-family: ArialMT; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: capitalize;"></pre>
                <div class="tt-menu suggest-custom-menu"
                  style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;">
                  <div class="tt-dataset tt-dataset-best-pictures"></div>
                </div>
              <% end %>

              <div class="icon_w_loader_header">
                <i class="fa fa-spinner fa-spin"></i>
              </div>
              <div class="clear-search js-clear-w-input-search">
                <%= content_tag(:span, "", class: "icon icon_close_fix") %>
              </div>
              <%= f.submit class: "button icon icon_search" %>
            <% end %>

          </div>
          <div class="main-header__placing-ad">
            <%= link_to "#", class: "header_new_ad initiate-post-product" do %>
            <%= content_tag(:span, "", class: "icon icon-pasang-iklan") %>
            <%= content_tag(:span, "Placing ad" ,class: "text") %>
            <% end %>
          </div>
          <div class="account-not-signin main-header__account" id="dropdown">
            <%= content_tag(:span, "",class: "icon icon_akun") %>
            <%= content_tag(:span, "",class: "icon icon_akun2") %>
            <div class="account-dropdown">
              <% if current_user.nil? %>
              <%= render "layouts/not_login" %>
              <% else %>
              <%= render "layouts/is_login" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>