<div class="category-listing__nav">
  <div class="col-12 category-listing__nav-head">
    <div class="pull-left">
      <%= content_tag(:span) do %>
      <%= link_to "Home", "/" %>
      <% end %>
      <%= content_tag(:span, class: "arrow") do %>
      &gt;
      <% end %>
      <span>
        <a href="/motor" onclick="document.cookie='category_ids=[]'">
          Motor
        </a>
      </span>
      <span class="arrow">
        &gt;
      </span>
      <span>
        <a href="/motor/baru-dan-bekas" onclick="document.cookie='category_ids=[]'">
          Motor Baru &amp; Bekas
        </a>
      </span>
      <span class="arrow">
        &gt;
      </span>
      <span>
        <a onclick="document.cookie='category_ids=[]'" href="/semua">
          Honda
        </a>
      </span>
    </div>
    <div class="pull-right">
      Search Results Found
      <%= content_tag(:span, products.length) %>
    </div>
  </div>
  <div class="col-12 category-listing__nav-content">
    <div class="pull-left">
      <div class="category-listing__location">
        <span class="icon icon_location"></span>
        <input type="text" name="lokasi" id="lokasi" placeholder="Cari Berdasarkan Lokasi..." autocomplete="off">
        <div class="clear-location">
          <span class="icon icon_close"></span>
        </div>
      </div>
      <div class="category-listing__suggestion">
        <ul class="category-listing__suggestion-list"></ul>
      </div>
    </div>
    <div class="pull-right">
      <div class="category-listing__type">
        <label>
          <a onclick="setCookie('applied_filter', true);" href="/baru-dan-bekas/motor-honda"><input checked=""
              class="milan-radio" name="tipe-produk" type="radio">
            <span></span>
            semua
          </a></label>
        <label>
          <a onclick="setCookie('applied_filter', true);" href="/baru-dan-bekas/motor-honda/baru"><input
              class="milan-radio" name="tipe-produk" type="radio">
            <span></span>
            baru
          </a></label>
        <label>
          <a onclick="setCookie('applied_filter', true);" href="/baru-dan-bekas/motor-honda/bekas"><input
              class="milan-radio" name="tipe-produk" type="radio">
            <span></span>
            bekas
          </a></label>
      </div>
      <div class="category-listing__sort">
        <span class="icon icon_sort"></span>
        <select name="sort_by" id="sort_by" class="jualo_select sort_by" onchange="$('#filter_category').submit()">
          <option value="">Urutkan</option>
          <option value="date">Terbaru</option>
          <option value="price_low_to_high">Termurah</option>
          <option value="price_high_to_low">Termahal</option>
        </select>
        <span class="icon icon_dropdown"></span>
      </div>
    </div>
  </div>

  <%= render "contents/filter_by" %>
</div>