<div class="product-desc-title">
  <div class="title tab-menu__item-product">
    Specification
  </div>
</div>
<div class="product-desc">
  <div class="tab-content__item-product" id="tabSpecification">
    <div class="specification-detail">
      <%= render partial: "spec_content", locals: { title: "Type", content: product.pro_spec.name } %>
      <%= render partial: "spec_content", locals: { title: "Year", content: product.pro_spec.year } %>
      <%= render partial: "spec_content", locals: { title: "Transmission", content: product.pro_spec.transmission } %>
      <%= render partial: "spec_content", locals: { title: "CC", content: product.pro_spec.cc } %>
      <%= render partial: "spec_content", locals: { title: "Kilometer", content: product.pro_spec.kilometer } %>
      <%= render partial: "spec_content", locals: { title: "Fuel", content: product.pro_spec.fuel } %>
      <%= render partial: "spec_content", locals: { title: "Color", content: product.pro_spec.color } %>
    </div>
  </div>
</div>
<br>
<div class="product-desc-title">
  <div class="title tab-menu__item-product">
    Description
  </div>
</div>
<div class="product-desc">
  <div class="tab-content__item-product" id="tabDescription">
    For sale, 2017 black xmax th 2017, smooth condition KM 10r, cimahi city number plate.
    Pirelli angel scooter tires, rear front brake hose using hell
    carbon, front disc using Yamaha R25, seat MBtech papas foam front. Cellphone 0812238XXXXX
  </div>
</div>
</div>