<ul class="category__container">
  <% @categories.each do |category| %>
  <li class="category__menu">
    <%= link_to category, class: "category__link" do %>
      <%= content_tag(:span, "", class: "icon icon_kategori-motor") %>
      <%= content_tag(:span, class: "name") do %>
      <%= category.name %>
      <%= content_tag(:span, "hot", class:"hot") %>
      <% end %>
    <% end %>
  </li>
  <% end %>
</ul>